/**
 * @name Capybara V1
 * @author Gort#1337
 * @version 1.0
 * @description A theme for capybara lovers.
 * @authorId 929040326784585799
 * @source https://github.com/sillymonke21/CapybaraTheme
*/

@import url('https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --background-image: url('https://i.imgur.com/KoAV69F.jpg');
  --popup-background: url('https://i.imgur.com/528z3A3.jpg');
  --background-blur: 2px;
  --background-darkness: 0.53;
  --main-color: #8F6813;
  --hover-color: #312500;
  --roundness: 17px;
  --shadow: rgb(104,93,0,1);
}

/* Any custom CSS below here */


